<div class="contact-page">
    <h1>Nous contacter</h1>
    <div class="container">
        <div class="box">
            <h2>Adresse</h2>
            <p>
                <!-- {{ contactInfo.getAddress().getName() }} <br />-->
                {{ contactInfo.getAddress().getStreet() }}<br />
                {{ contactInfo.getAddress().getZip() }} {{ contactInfo.getAddress().getCity() }}
            </p>
        </div>
        <div class="box">
            <h2>Téléphone</h2>
            <p>{{ contactInfo.getPhone() }}</p>

        </div>
        <div class="box">
            <h2>Email</h2>
            <p>{{ contactInfo.getEmail() }}</p>
        </div>
    </div>
    <div class="container">
    <img src="{{contactInfo.getAddress().getMapUrl()}}" alt="Carte de localisation" />
</div>

</div>