.main-frame {
    display: grid;
    grid-template-columns: 92px 1fr;
    align-items: start;
    //background: linear-gradient(90deg, #E33E20,  #f57d3d) ;
    min-width: 320px;
    gap: 10px;
}

.bars {
    display: block;
    width: 100%;
    height: auto;    
    line-height: 28px;
    
}




.main-title {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 26px;
    background: linear-gradient(30deg, #cdcdcf,  #ffffff) ;
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
}